@using BookStore.Models.ViewModel
@model List<AuthorVM>
@section Title{
	Authors
}
@section SubTitle{
	Show
}
@section Buttons{
	<a asp-controller="Author" asp-action="Create" class="btn btn-primary">Create</a>
}
@if (!Model.Any())
		{ 
			<div class="card-body">
			<div class="alert alert-warning alert-dismissible">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
			     Categories Not Found
			</div>
			</div>
		}
else
{
	<div class="card-body">
<table class="table table-bordered">
	<thead>
		<tr>
			<th style="width: 10px">#</th>
			<th>Name</th>
			<th style="width:250px">Action</th>
		</tr>
	</thead>
	<tbody>	
			@foreach (var item in @Model)
			{
				<tr>
					<td>@item.Id</td>
					<td>@item.Name</td>
					<td>
							<a class="btn btn-sm btn-primary" asp-controller="Author" asp-action="Edit" asp-route-id="@item.Id">
								<i class="fas fa-edit ms-2"></i> Edit</a>
							<a class="btn btn-sm   btn-info "asp-controller="Author" asp-action="Details" asp-route-id="@item.Id">
								<i class="fas fa-info-circle mx-1"></i>Details</a>
							<a class="btn btn-sm  btn-danger js-delete" data-id="@item.Id"  href="#">
							
							<i class="fas fa-trash mx-1"></i>Delete</a>

					</td>
				</tr>
			}
		
	</tbody>
</table>
</div>
}

@section Scripts{
	<script>

		document.querySelectorAll(".js-delete").forEach((btn) => {
			btn.addEventListener("click", async () => {
				Swal.fire({
					title: "Are you sure?",
					text: "You won't be able to revert this!",
					icon: "warning",
					showCancelButton: true,
					confirmButtonColor: "#3085d6",
					cancelButtonColor: "#d33",
					confirmButtonText: "Yes, delete it!"
				}).then(async (result) => {
					if (result.isConfirmed) {
						const id = btn.dataset.id;
						//const id  = btn.getAttribute("data-id");


						const response = await fetch(`Author/Delete/${id}`, {
							method: 'POST'
						});
						if (response.ok) {
							btn.closest("tr").remove();

							const Toast = Swal.mixin({
								toast: true,
								position: 'top-end',


								showConfirmButton: false,
								timer: 3000,

							})
							Toast.fire({
								icon: 'success',
								title: 'Category Deleted Successfully',
							})
						}
					}
				});

			})
		})


	</script>
}